<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category List</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

</head>

<body>
    <table class="table table-striped">
        <tr>
            <th>Category</th>
        </tr>
        <tr th:each="category : ${categorylist}">
            <td th:text="${category.cName}"></td>
        </tr>
    </table>
    <a class="btn btn-success" th:href="@{/addcategory}">Add Category</a>


</body>

</html>